__DATA SCIENCE TOOLS AND ECOSYSTEM.__

In this notebook ,Data Science Tools and ecosystem are sumarized.

Some of the mostly used data scientists use are :  
1 : R   
2 : Python   
3 : Julia   
4 : Sql   
5 : C++   
6 : Java .. so on

Some of the commonly used libraries by data Scientists are   
1. Tensorflow 
2. Scipy(scientific python) 
3. pandas(python data analysis) 
4. Matplotlib 
5. Keras 
6. pyTorch 
7. Scikit-Learn ... so on...

| Data science tools |
|---|
|Apache Hadoop|
|SAS|
|Tensor flow|

__SOME EXAMPLES ON ARITHMETIC EXPRESSIONS IN PYTHON.__

In [6]:
## this is a common arithmetic example to multiply and then add integers.
(3*4)+5

17

In [7]:
## This will convert 200 minutes into hours by dividing by 60.
200/60

3.3333333333333335

__Objective__
* List popular languages using data science.
* List popular libraries using data Scinece.
* Lists are well known data science tool.

__AUTHOR'S NAME__   
M.Nithin